In [1]:
import pandas as pd
import numpy as np

In [2]:
# Reference the file where the CSV is located
file = 'budget_data.csv'
# Import the data into a Pandas DataFrame
df = pd.read_csv(file)
df.head()

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394

In [3]:
total_month = df["Date"].count()
print ("Financial Analysis")
print ("----------------------------")
print (f"Total Month: {total_month}")

Financial Analysis
----------------------------
Total Month: 41

In [4]:
total_amount = df["Revenue"].sum()
print (f"Total : ${total_amount}")

Total : $18971412

In [5]:
aver_change = round(df["Revenue"].mean(),2)
print (f"Average  Change: ${aver_change}")

Average  Change: $462717.37

In [6]:
max_date = df["Date"].max()
max_revenue = df["Revenue"].max()
print (f"Greatest Increase in Profits: {max_date} (${max_revenue})")
min_date = df["Date"].min()
min_revenue = df["Revenue"].min()
print (f"Greatest Decrease in Profits: {min_date} (${min_revenue})")

Greatest Increase in Profits: Sep-15 ($1195111)
Greatest Decrease in Profits: Apr-13 ($-1172384)

In [10]:
with open("output.txt","w") as writer:
    writer.write("Financial Analysis\n")
    writer.write("----------------------------\n")
    writer.write(f"Total Month: {total_month}\n")
    writer.write(f"Total : ${total_amount}\n")
    writer.write(f"Average  Change: ${aver_change}\n")
    writer.write(f"Greatest Increase in Profits: {max_date} (${max_revenue})\n")
    writer.write(f"Greatest Decrease in Profits: {min_date} (${min_revenue})\n")